# Compilation related
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
build/
dist/

# Shared libraries / extension modules
*.so
*.pyd
*.dylib
*.dll

# Object files
*.o
*.obj

# Project Specific
plots/

# OS & Editors
.vscode/
*.code-workspace
.DS_Store
*.swp
*~
