include README.md
include LICENSE
include pyoroject.toml
include setup.py

graft cpp/include
graft cpp/src

global-exclude *.o
global-exclude *.so
global-exclude *.pyc
global-exclude .git*
global-exclude *.dylib
global-exclude __pycache__