include README.md
include LICENSE
include pyproject.toml
include setup.py

graft cpp/include
graft cpp/src
graft src/anyFFT/benchmarks
graft src/anyFFT/tests

global-exclude *.o
global-exclude *.so
global-exclude *.pyc
global-exclude .git*
global-exclude *.dylib
global-exclude __pycache__
